.contents {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.message {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: red;
    font-size: 30px;
}
.start-message {
    padding: 0 20px;
}
.start-btn {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
    background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
    background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
    background-image: -o-linear-gradient(top, #d93434, #b82b2b);
    background-image: linear-gradient(to bottom, #d93434, #b82b2b);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }
  
  .start-btn:hover {
    cursor: pointer;
    background: #fc3c3c;
    background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
    background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
    text-decoration: none;
  }
.table-wide {
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}
.cell-wide {
    padding: 10px 14px;
    width: 70px;
    max-width: calc(20% - 12px);
    text-align: center;
    border: 1px solid black;
}
.cell:active {
    transition: all .2s ease-in-out;
    transform: scale(1.06);
}

.info__error {
    color: red;
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{opacity: 0.1;}
    100%{opacity: 1;}
    }

.red {
    color: red;
}